.list-active {
    display: block;
}

.mainer-content input:checked+div ul .list-active {
    display: none;
}

.text-active {
    color: rgba(24, 144, 255, 1);
}

.arrow-active {
    content: url("../img/Ant-Menu-Submenu-Arrow-Up.svg");
}

.list-icon::before {
    background: url(../img/icon-list-color.svg) no-repeat 0 0;
}

/* mainer-layout部分 */
.mainer-frame {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.frame-banner {
    height: 194px;
    padding: 0 24px;
    background: rgba(255, 255, 255, 1);
}

.banner-location {
    height: 22px;
    display: flex;
    align-items: center;
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.45);
}

.location-name {
    height: 22px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 22px;
}

.banner-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 44px;
    margin: 8px 0;
}

.banner-title-name {
    color: rgba(0, 0, 0, 0.85);
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.banner-search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.banner-search-inner {
    height: 40px;
    width: 418px;
    padding: 8px 12px;
    border-radius: 2px 0 0 2px;
    border: 1px solid rgba(217, 217, 217, 1);
    border-right: none;
}

.search-input {
    width: 100%;
    height: 24px;
    color: rgba(0, 0, 0, 0.88);
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 16px;
}

.search-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 104px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 0px 2px 2px 0px;
    border: 1px solid rgba(24, 144, 255, 1);
    background: rgba(24, 144, 255, 1);
    box-shadow: 0px 2px rgba(0, 0, 0, 0.04);
    font-family: Roboto;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

.search-text {
    display: flex;
    align-items: center;
    height: 24px;
}

.search-text::before {
    content: url("../img/search-icon.svg");
    display: block;
    width: 14px;
    height: 14px;
    line-height: 18px;
    text-align: center;
    margin-right: 8px;
}

.banner-nav {
    width: 100%;
    padding-top: 8px;
    display: flex;
    align-items: center;
}

.banner-nav-item {
    height: 40px;
    margin-right: 32px;
    display: flex;
    align-items: center;
    padding: 8px 0;
    color: rgba(0, 0, 0, 0.85);
    font-family: Roboto;
    font-size: 16px;
}

.banner-nav-title {
    height: 24px;
    line-height: 24px;
}

.banner-nav-active {
    border-bottom: 2px solid rgba(24, 144, 255, 1);
    color: rgba(24, 144, 255, 1);
}

/* frame-body部分开始 */
.frame-body {
    width: 100%;
    padding: 24px 24px 0;
    background: transparent;
}

.frame-body-content {
    height: 634px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.frame-body-head {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 120px;
    padding: 24px;
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.head-nav {
    width: 100%;
    height: 32px;
    display: flex;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.85);
    font-family: Roboto;
    font-size: 14px;
}

.head-nav-title {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 10, 0.85);
    font-size: 14px;
    line-height: 32px;
    margin-right: 24px;
}

.nav-title-name {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    letter-spacing: -0.5px;
    white-space: nowrap;
}

.head-nav-list {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
    flex: 1;
}

.head-nav-item {
    display: flex;
    align-items: center;
    height: 22px;
    padding: 1px 8px;
    font-size: 12px;
    line-height: 20px;
    margin-right: 8px;
}

.head-nav-item::after {
    display: block;
    content: url("../img/Close.svg");
    width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    margin-left: 3px;
}

.head-nav-expand {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    color: rgba(24, 144, 255, 1);
    font-size: 14px;
    line-height: 32px;
}

.head-nav-expand::after {
    display: block;
    content: url("../img/icon-expand.svg");
    width: 10px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    margin-left: 4px;
}

.header-owner-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
}

.head-owner-menu {
    display: inline-flex;
    height: 32px;
    margin-right: 24px;
    padding: 4px;
    border-radius: 2px;
    border: 1px solid rgba(217, 217, 217, 1);
    gap: 4px;
}

.head-owner-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    border: 1px solid rgba(240, 240, 240, 1);
    box-sizing: border-box;
    background: rgba(245, 245, 245, 1);
    color: rgba(0, 0, 0, 0.85);
    font-family: Roboto;
    font-size: 12px;
    line-height: 20px;
}

.head-owner-item::after {
    display: block;
    content: url("../img/Close.svg");
    width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    margin-left: 3px;
}

.head-nav-own {
    color: rgba(24, 144, 255, 1);
    font-size: 14px;
    line-height: 32px;
}

.title-unlimited-wrapper {
    display: flex;
    align-items: center;
    height: 32px;
    margin-left: 8px;
    padding: 4px 12px;
    border: 1px solid rgba(217, 217, 217, 1);
    background: rgba(255, 255, 255, 1);
}

.title-unlimited-text {
    display: flex;
    color: rgba(0, 0, 0, 0.25);
    font-size: 14px;
    height: 22px;
    line-height: 22px;
}

.title-unlimited-text::after {
    display: block;
    content: url("../img/icon-unlimited.svg");
    line-height: 22px;
}

.frame-body-list {
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 24px;
    width: 100%;
    background-color: transparent;
}

.body-list-container {
    display: flex;
    flex-flow: row wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.frame-body-item {
    display: inline-flex;
    flex: 0 0 25%;
    width: 100%;
    max-width: 25%;
    padding: 0 8px;
    margin-bottom: 16px;
}

.item-card {
    width: 100%;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 1);
}

.card-cover-img {
    display: block;
    border-radius: 2px 2px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    width: 100%;
    height: 164px;
    padding: 24px;
    border-radius: 0 0 2px 2px;
}

/* .card-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 116px;
} */

.card-title {
    height: 24px;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.85);
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.card-description {
    display: flex;
    flex-flow: row wrap;
    max-width: 236px;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.85);
    font-family: Roboto;
    font-size: 14px;
    line-height: 22px;
}

.card-user {
    display: flex;
    height: 32px;
    align-items: center;
}

.card-user-time {
    flex: 1;
    height: 22px;
    color: rgba(0, 0, 0, 0.45);
    font-family: Roboto;
    font-size: 14px;
    line-height: 22px;
}

.card-user-info {
    display: flex;
    height: 32px;
}

.user-info-profile {
    width: 32px;
    height: 32px;
    margin-right: -8px;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    background-color: transparent;
}

.profile-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}