.form-active {
    display: block;
}

.mainer-content input:checked+div ul .form-active {
    display: none;
}

.arrow-active {
    content: url("../img/Ant-Menu-Submenu-Arrow-Up.svg");
}

.form-icon::before {
    background: url(../img/icon-form-color.svg) no-repeat 0 0;
}

.text-active {
    color: rgba(24, 144, 255, 1);
}

.second-active {
    background: rgba(230, 247, 255, 1);
    border-right: 3px solid rgba(24, 144, 255, 1);
    color: rgba(24, 144, 255, 1);
}

/* mainer-layout部分 */
.mainer-frame {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.frame-banner {
    height: 131px;
    padding: 0 24px;
    background: rgba(255, 255, 255, 1);
}

.banner-location {
    height: 22px;
    display: flex;
    align-items: center;
    margin-top: 12px;
    color: rgba(0, 0, 0, 0.45);
}

.location-name {
    height: 22px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 22px;
}

.banner-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 44px;
    margin: 8px 0;
}

.banner-title-name {
    color: rgba(0, 0, 0, 0.85);
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.banner-subtitle {
    display: block;
    height: 17px;
    color: rgba(51, 51, 51, 1);
    font-family: Helvetica Neue;
    font-size: 13px;
    line-height: 130.999994%;
}

/* frame-body部分 */
.frame-body {
    width: 100%;
    height: 576px;
    padding: 24px 24px 0;
    background-color: transparent;
}

.frame-content {
    height: 576px;
    padding: 24px;
    background: rgba(255, 255, 255, 1);
}

.form-steps {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    margin: 16px auto;
}

.steps-item {
    width: 375.5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.steps-item-iocn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
    border: 1px solid rgba(24, 144, 255, 1);
    background-color: transparent;
}

.steps-item-iocn::after {
    display: block;
    content: url("../img/Check-color.svg");
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
}

.steps-second-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-left: 16px;
    margin-right: 8px;
    border-radius: 50%;
    border: 1px solid rgba(24, 144, 255, 1);
    color: #fff;
    background: rgba(24, 144, 255, 1);
}

.steps-second-icon::after {
    display: block;
    width: 9px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    content: "2";
    color: #fff;
}

.steps-item-title {
    position: relative;
    color: rgba(0, 0, 0, 0.85);
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    padding-right: 16px;
}

.steps-item-title::after {
    position: absolute;
    top: 50%;
    inset-inline-start: 100%;
    display: block;
    width: 9999px;
    height: 1px;
    background: rgba(5, 5, 5, 0.06);
    content: "";
}

.steps-third-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-left: 16px;
    margin-right: 8px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.25);
    background: transparent;
}

.steps-third-icon::after {
    display: block;
    width: 9px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    content: "3";
    color: rgba(0, 0, 0, 0.25);
}

.steps-third-title::after {
    display: none;
}

.form-input {
    max-width: 510px;
    height: 256px;
    margin: 0 auto auto;
}

.form-input-container {
    height: 32px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
}

.title-name {
    color: rgba(0, 0, 0, 0.85);
    font-family: Roboto;
    font-size: 14px;
    line-height: 22px;
}

.title-name::after {
    content: ":";
    margin-left: 4px;
    margin-right: 8px;
}

.form-input-wrapper {
    display: inline-flex;
    align-items: center;
    width: 382px;
    max-width: 100%;
    height: 32px;
    padding: 5px 12px;
    border-radius: 2px;
    border: 1px solid rgba(217, 217, 217, 1);
    background: rgba(255, 255, 255, 1);
}

.title-name {
    display: inline-flex;
    align-items: center;
    height: 22px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.85);
    font-family: Roboto;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    letter-spacing: -0.5px;
}

.input-inner {
    width: 100%;
    color: rgba(0, 0, 0, 0.85);
    font-family: Roboto;
    font-size: 14px;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}

.input-inner::placeholder {
    color: rgba(0, 0, 0, 0.85);
}

.input-prefix {
    height: 22px;
    line-height: 22px;
    display: flex;
    align-items: center;
    margin-right: 4px;
    color: rgba(217, 217, 217, 1);
}

.form-btn {
    width: 382px;
    display: flex;
    align-items: center;
}

.submit-btn {
    padding: 4px 15px;
    border-radius: 2px;
    border: 1px solid rgba(24, 144, 255, 1);
    background: rgba(24, 144, 255, 1);
    box-shadow: 0px 2px rgba(0, 0, 0, 0.04);
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)
}

.form-divider {
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
    margin: 40px 0px 24px;
    border-block-start: 1px solid rgba(0, 0, 0, 0.06);
}

.form-info {
    color: rgba(0, 0, 0, 0.45);
    font-family: Roboto;
    font-size: 14px;
}

.form-info h3 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
}

.form-info h4 {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 4px;
}

.form-info p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 12px;
}